<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" href = "style.css">
    <title>Cashier App: Hot Coffee</title>
</head>

<a href = "/">
    <p> BACK</p>
</a>

<body>
    <h1> Hot Coffee </h1> <br>
    <br>
    <h2> Americanos </h2> <hr> <br> <br>
    <form name="form" th:object="${command}" method="post">
        <div class = "space"> 
            <div class = "fixed" style="padding: 40px;">
                <form>
                    <h2>Size Options:</h2>
                    <select class="select" id="size" name="size" th:field="*{size}">
                        <option value="Tall">Tall</option>
                        <option value="Grande">Grande</option>
                        <option value="Venti">Venti</option>
                    </select>
                    <br> <br> <br>
                    <h2>Drink options:</h2>
                    <select class="select" id="milk" name="milk" th:field="*{milk}">
                        <option value="Whole Milk">Whole Milk</option>
                        <option value="2% Milk">2% Milk</option>
                        <option value="Nonfat Milk">Nonfat Milk</option>
                        <option value="Almond Milk">Almond Milk</option>
                        <option value="Soy Milk">Soy Milk</option>
                    </select>
                <br> <br> <br>
                <input type= "text" id="message" name = "message" placeholder="Additional Instructions" style="width: 300px; height: 200px;" th:field="*{message}">
                <br> <br> <br>
                <input type="submit" name="event" id="btnSubmitOrder" value="Submit Order" style="float: right;">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/HotCoffee.PNG" width = "140" height="125" > 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "caffeAmericano" value = "CAFFE AMERICANO" th:field="*{drink}">
                <Label for ="caffeAmericano">Caffe Americano</Label>
            </div>
        </div>
        <h2>Brewed Coffees</h2>
        <hr>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "blondeRoast" value = "BLONDE ROAST" th:field="*{drink}">
                <Label for ="blondeRoast">Blonde Roast</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/CaffeMisto.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "caffemisto" value = "CAFFE MISTO" th:field="*{drink}">
                <Label for ="caffemisto">Caffe Misto</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "darkRoastCoffee" value = "DARK ROAST COFFEE" th:field="*{drink}">
                <Label for ="darkRoastCoffee">Dark Roast Coffee</Label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "pikePlaceRoast" value = "PIKE PLACE ROAST" th:field="*{drink}">
                <Label for ="pikePlaceRoast">Pike Place Roast</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "decafPikePlaceRoast" value = "DECAF PIKE PLACE ROAST" th:field="*{drink}">
                <Label for ="decafPikePlaceRoast">Decaf Pike Place Roast</Label>
            </div>
        </div>
        <h2>Cappuccinos</h2>
        <hr>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/Cappuccino.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "cappuccino" value = "CAPPUCCINO" th:field="*{drink}">
                <Label for ="cappuccino">Cappuccino</Label>
            </div>
        </div>
        <h2>Espresso Shots</h2>
        <hr>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/Espresso.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "espresso" value = "ESPRESSO" th:field="*{drink}">
                <Label for ="espresso">Espresso</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/EspressoPanna.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "espressoConPanna" value = "ESPRESSO CON PANNA" th:field="*{drink}">
                <Label for ="espressoConPanna">Espresso Con Panna</Label>
            </div>
        </div>
        <h2>Flat Whites</h2>
        <hr>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/FlatWhite.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "flatWhite" value = "FLAT WHITE" th:field="*{drink}">
                <Label for ="flatWhite">Flat White</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/HoneyFlat.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "honeyAlmondmilkFlatWhite" value = "HONEY ALMONDMILK FLAT WHITE" th:field="*{drink}">
                <Label for ="honeyAlmondmilkFlatWhite">Honey Almondmilk Flat White</Label>
            </div>
        </div>
        <h2>Lattes</h2>
        <hr>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotTea/HotTea.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "pistachio" value = "PISTACHIO" th:field="*{drink}">
                <Label for ="pistachio">Pistachio</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/CaffeLatte.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "caffeLatte" value = "CAFFE LATTE" th:field="*{drink}">
                <Label for ="caffeLatte">Caffe Latte</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/CinnamonLatte.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "cinnamonDolceLatte" value = "CINNAMON DOLCE LATTE" th:field="*{drink}">
                <Label for ="cinnamonDolceLatte">Cinnamon Dolce Latte</Label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/StarbucksLatte.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "reserveLatte" value = "RESERVE LATTE" th:field="*{drink}">
                <Label for ="reserveLatte">Reserve Latte</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/StarbucksLatte.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "reserveHazelnutBiancoLatte" value = "RESERVE HAZELNUT BIANCO LATTE" th:field="*{drink}">
                <Label for ="reserveHazelnutBiancoLatte">Reserve Hazelnut Bianco Latte</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/CaffeLatte.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "blondeVanillaLatte" value = "BLONDE VANILLA LATTE" th:field="*{drink}">
                <Label for ="blondeVanillaLatte">Blonde Vanilla Latte</Label>
            </div>
        </div>
        <h2>Macchiatos</h2>
        <hr>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/CaramelMacchiato.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "carmelMacchiato" value = "CARAMEL MACCHIATO" th:field="*{drink}">
                <Label for ="carmelMacchiato">Caramel Macchiato</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/EspressoMacchiato.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "espressoMacchiato" value = "ESPRESSO MACCHIATO" th:field="*{drink}">
                <Label for ="espressoMacchiato">Espresso Macchiato</Label>
            </div>
        </div>
        <h2>Mochas</h2>
        <hr>
        <br>
        <div class="row">
            <div class="column">
                <img src = "HotCoffee/CaffeMocha.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "caffeMocha" value = "CAFFE MOCHA" th:field="*{drink}">
                <Label for ="caffeMocha">Caffe Mocha</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/StarbucksLatte.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "darkChocolateMocha" value = "DARK CHOCOLATE MOCHA" th:field="*{drink}">
                <Label for ="darkChocolateMocha">Dark Chocolate Mocha</Label>
            </div>
            <div class="column">
                <img src = "HotCoffee/WhiteChocoalteMocha.PNG" width="140" height="125"> 
            </div>
            <div class="smallcolumn">
                <input type = "radio" id = "whiteChocolateMocha" value = "WHITE CHOCOLATE MOCHA" th:field="*{drink}">
                <Label for ="whiteChocolateMocha"></Label>White Chocolate Mocha</Label>
            </div>
        </div>
        </form>
    </form>
</body>

</html>