<!DOCTYPE html>

<head>
    <title>Cashier App: Hot Coffee</title>
    <style>
    
    h1 {
        padding-left: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    hr {
        width: 80%;
        float: left;
    }
    
    h3 {
        font-weight: normal;
        font-family: serif;
    }
    .column {
    float: left;
    width: 10%;
    }

    .smallcolumn{
        float: left;
        width: 10%;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    body {
        padding-left: 100px;
    }
    </style>
</head>

<body>
    <h1> Hot Coffee </h1>
    <br>
    <h2> Americanos </h2>
    <hr> 
    <br>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/HotCoffee.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Caffe Americano</h3>
        </div>
    </div>
    <h2>Brewed Coffees</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Blonde Roast</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/CaffeMisto.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Caffe Misto</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Dark Roast Coffee</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Pike Place Roast</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/BlondeRoast.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Decaf Pike Place Roast</h3>
        </div>
    </div>
    <h2>Cappuccinos</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/Cappuccino.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Cappuccino</h3>
        </div>
    </div>
    <h2>Espresso Shots</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/Espresso.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Espresso</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/EspressoPanna.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Espresso Con Panna</h3>
        </div>
    </div>
    <h2>Flat Whites</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/FlatWhite.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Flat White</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/HoneyFlat.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Honey Almondmilk Flat White</h3>
        </div>
    </div>
    <h2>Lattes</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotTea/HotTea.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Pistachio</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/CaffeLatte.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Caffe Latte</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/CinnamonLatte.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Cinnamon Dolce Latte</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/StarbucksLatte.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Reserve Latte</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/StarbucksLatte.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Reserve Hazelnut Bianco Latte</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/CaffeLatte.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Blonde Vanilla Latte</h3>
        </div>
    </div>
    <h2>Macchiatos</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/CaramelMacchiato.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Caramel Macchiato</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/EspressoMacchiato.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Espresso Macchiato</h3>
        </div>
    </div>
    <h2>Mochas</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "../static/HotCoffee/CaffeMocha.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Caffe Mocha</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/StarbucksLatte.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Dark Chocolate Mocha</h3>
        </div>
        <div class="column">
            <img src = "../static/HotCoffee/WhiteChocoalteMocha.PNG" width="140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>White Chocolate Mocha</h3>
        </div>
    </div>
</body>