<!DOCTYPE html>

<head>
    <link rel = "stylesheet" href = "style.css">
    <title>Cashier App: Hot Drinks</title>
</head>

<body>
    <h1> Hot Drinks </h1>
    <br>
    <h2> Hot Chococlates </h2>
    <div class = "space"> 
        <div class = "fixed" style="padding: 30px;">
            <form action = "">
                <select class="select" id="milk" name="milk">
                    <option value="1">Whole Milk</option>
                    <option value="2">2% Milk</option>
                    <option value="3">Nonfat Milk</option>
                    <option value="4">Almond Milk</option>
                    <option value="5">Soy Milk</option>
                </select>
            </form>
            <br> <br> <br>
            <form action = "">
                <select class="select" id="size" name="size">
                    <option value="1">Tall (12 ounces)</option>
                    <option value="2">Grande (16 ounces)</option>
                    <option value="3">Venti (24 ounces)</option>
                </select>
            </form>
            <br> <br> <br>
            <input type= "text" id="message" name = "message" placeholder="Additional Instructions" style="width: 300px; height: 200px;">
            <br> <br> <br>
            <input type="submit" name="event" id="btnSubmitOrder" value="Submit Order" style="float: right;">
        </div>
    </div>
    <hr> 
    <br>
    <br>
    <div class="row">
        <div class="column">
            <img src = "HotDrink/HotDrinks.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Hot Chcocolate</h3>
        </div>
        <div class="column">
            <img src = "HotDrink/WhiteChocolate.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>White Hot Chcocolate</h3>
        </div>
    </div>
    <h2> Juice </h2>
    <hr> 
    <br>
    <div class="row">
        <div class="column">
            <img src = "HotDrink/CaramelSpice.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Caramel Apple Spice</h3>
        </div>
        <div class="column">
            <img src = "HotDrink/AppleJuice.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Steamed Apple Juice</h3>
        </div>
    </div>
    <h2> Steamers </h2>
    <hr> 
    <br>
    <div class="row">
        <div class="column">
            <img src = "HotDrink/PistachioCreme.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Pistachio Creme</h3>
        </div>
        <div class="column">
            <img src = "HotDrink/CinnamonCreme.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Cinnamon Dolce Creme</h3>
        </div>
        <div class="column">
            <img src = "HotDrink/SteamedMilk.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Steamed Milk</h3>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class="column">
            <img src = "HotDrink/WhiteChocolate.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Vanilla Creme</h3>
        </div>
    </div>
</body>