<!DOCTYPE html>

<head>
    <link rel = "stylesheet" href = "style.css">
    <title>Cashier App: Hot Tea</title>
</head>

<body>
    <h1>Hot Teas</h1>
    <br>
    <h2>Chai Teas</h2>
    <div class = "space"> 
        <div class = "fixed" style="padding: 30px;">
            <form action = "">
                <select class="select" id="milk" name="milk">
                    <option value="1">Whole Milk</option>
                    <option value="2">2% Milk</option>
                    <option value="3">Nonfat Milk</option>
                    <option value="4">Almond Milk</option>
                    <option value="5">Soy Milk</option>
                </select>
            </form>
            <br> <br> <br>
            <form action = "">
                <select class="select" id="size" name="size">
                    <option value="1">Tall (12 ounces)</option>
                    <option value="2">Grande (16 ounces)</option>
                    <option value="3">Venti (24 ounces)</option>
                </select>
            </form>
            <br> <br> <br>
            <input type= "text" id="message" name = "message" placeholder="Additional Instructions" style="width: 300px; height: 200px;">
            <br> <br> <br>
            <input type="submit" name="event" id="btnSubmitOrder" value="Submit Order" style="float: right;">
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "HotTea/HotTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Chai Latte</h3>
        </div>
        <div class="column">
            <img src = "HotTea/ChaiTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Chai Tea</h3>
        </div>
    </div>
    <h2>Black Teas</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "HotTea/ChaiTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Earl Grey Tea</h3>
        </div>
        <div class="column">
            <img src = "HotTea/HotTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>London Fog Tea Latte</h3>
        </div>
        <div class="column">
            <img src = "HotTea/ChaiTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Royal English Breakfast Tea</h3>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class="column">
            <img src = "HotTea/HotTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Royal English Breakfast Tea Latte</h3>
        </div>
    </div>
    <h2>Green Teas</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "HotTea/Emperor'sCloud.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Emperor's Clouds & Mist</h3>
        </div>
        <div class="column">
            <img src = "HotTea/MatchaTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Matcha Green Tea Latte</h3>
        </div>
        <div class="column">
            <img src = "HotTea/HoneyCitrusMintTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Honey Citrus Mint Tea</h3>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class="column">
            <img src = "HotTea/ChaiTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Jade Citrus Mint Brewed Tea</h3>
        </div>
    </div>
    <h2>Herbel Teas</h2>
    <hr>
    <br>
    <div class="row">
        <div class="column">
            <img src = "HotTea/HoneyCitrusMintTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Mint Majesty</h3>
        </div>
        <div class="column">
            <img src = "HotTea/HoneyCitrusMintTea.PNG" width = "140" height="125"> 
        </div>
        <div class="smallcolumn">
            <h3>Peach Tranquility</h3>
        </div>
    </div>
</body>