<!DOCTYPE html>

<head>
    <link rel = "stylesheet" href = "style.css">
    <title>Cashier App</title>
    <style>
        hr {
        width: 80%;
        float: left;
        }
    </style>
</head>

<body>
    <h1> Menu </h1>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="column">
            <a href = "/hotcoffee">
                <img src = "HotCoffee/HotCoffee.PNG" name = "action" value = "hot coffee"> 
            </a>
        </div>
        <div class="smallcolumn">
            <h2>Hot Coffee</h2>
        </div>
        <div class="column">
            <a href = "/hottea">
                <img src = "HotTea/HotTea.PNG"> 
            </a>
        </div>
        <div class="smallcolumn">
            <h2>Hot Teas</h2>
        </div>
        <div class="column">
            <a href = "/hotdrinks">
                <img src = "HotDrink/HotDrinks.PNG"> 
            </a>
        </div>
        <div class="smallcolumn">
            <h2>Hot Drinks</h2>
        </div>
        <div class="column">
            <a href = "/frappuccino">
                <img src = "Frappuccino/Frappuccino.PNG"> 
            </a>
        </div>
        <div class="smallcolumn">
            <h2>Frappuccino</h2>
        </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <h1>Customer Order: </h1>
    <input type="submit" name="event" id="btnClearOrder" value="Clear Order" style="float: center;">
</body>